body {
  margin: 0;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  width: 70%;
}

.section {
  margin: 120px 0;
}

.result {
  margin: 20px 0;
  padding: 5px;
  height: 15px;
  width: 182px;
  border: 1px solid black;
}